doctype html
html

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title CV · David Juan

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')
        link(rel="stylesheet", type="text/css", href="css/print.css", media="print")

    body#page-top
        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top.no-print
            div.row
                div.column
                    a.flag-icons
                        img.flag-icon(src='https://image.flaticon.com/icons/png/512/197/197374.png')
                div.column
                    label.switch
                        input#lang-switch(type="checkbox", name='lang-switch')
                        span.slider.round
                div.column     
                    a.flag-icons
                        img.flag-icon(src='https://image.flaticon.com/icons/png/512/197/197386.png')
            a.navbar-brand.js-scroll-trigger(href='#about')
                span.d-block.d-lg-none David Juan
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='https://media-exp1.licdn.com/dms/image/C4D03AQEOArAYJYp0aw/profile-displayphoto-shrink_400_400/0/1624767833934?e=1632960000&v=beta&t=73sZUCIsM5PBw1ivtYYln_UWQLBh3DsBppvPbVYl520', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') 
                            i.far.fa-address-card
                            span(lang='en') · About
                            span(lang='pt') · Sobre
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills')
                            i.far.fa-star
                            span(lang='en') · Skills
                            span(lang='pt') · Habilidades
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience')
                            i.fas.fa-briefcase
                            span(lang='en') · Experience
                            span(lang='pt') · Experiências
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#certifications')
                            i.fas.fa-award
                            span(lang='en') · Certifications
                            span(lang='pt') · Certificações
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education')
                            i.fas.fa-certificate
                            span(lang='en') · Education
                            span(lang='pt') · Formação
            //- a.btn.btn-glyphicon.mb-2(onclick="window.print();return false;")
            //-     img.icon-btn(src='assets/img/printer.png', alt='print')
            //-     .d-none.d-lg-inline-block · Print

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section.low-margin-on-print
                .resume-section-content
                    h1.mb-0
                        | David 
                        span.text-primary Juan
                    .subheading.mb-5
                        | · Diadema · São Paulo · Brazil · +55(11)98405-5268 · 
                        a(href='mailto:davidjfds@gmail.com',target="_blank") davidjfds@gmail.com
                    p.lead.mb-5(lang='en')
                         | I'm .NET Backend Developer, and also have knowledge of frontend using Angular/Typescript in addition to HTML/CSS. I've been working with software development since 2016 and using agile methodology and TDD since 2019.<br/><br/> Currently a AdvPL developer (TOTVS Language) in the Healthcare segment, worked with C# in ERP integrated with NF-e issuer, and with C++ in robots integrations and safety devices.<br/><br/> Looking for new challenges, I am always in contact with new technologies in order to consolidate and expand my knowledge.
                    p.lead.mb-5(lang='pt')
                        | Sou Desenvolvedor Backend .NET, e também possuo conhecimento em frontend utilizando Angular/Typescript além de HTML/CSS. Trabalho com desenvolvimento de software desde 2014 e utilizando metodologia ágil e TDD desde 2019.<br/><br/> Atualmente sou desenvolvedor AdvPL (Linguagem TOTVS) no segmento Healthcare, já atuei com C# em ERP integrado a emissor de NFE e tambem em outros projetos, e com C++ na programação de robôs e dispositivos de segurança.<br/><br/> Em busca de novos desafios, estou sempre em contato com novas tecnologias a fim de consolidar e ampliar meu conhecimento.
                    .social-icons
                        a.social-icon(href='mailto:davidjfds@gmail.com',target="_blank")
                            img(src='assets/img/gmail_icon.svg', alt='gmail', width='50', height='50')
                        a.social-icon(href='https://www.linkedin.com/in/david-juan/',target="_blank")
                            img(src='assets/img/linkedin_icon.svg', alt='gmail', width='50', height='50')
                        a.social-icon(href='https://github.com/DavidJuan',target="_blank")
                            img(src='assets/img/github_icon.svg', alt='gmail', width='50', height='50')

            hr.m-0.no-print

            // Skills
            section#skills.resume-section.low-margin-on-print
                .resume-section-content
                    h2.mb-5(lang='en') Skills
                    h2.mb-5(lang='pt') Habilidades
                    .subheading.mb-3(lang='en') Programming Languages & Frameworks
                    .subheading.mb-3(lang='pt') Linguagens de Programação & Bibliotecas
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            a(href='https://www.w3schools.com/cs/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg', alt='csharp', width='40', height='40')
                        li.list-inline-item
                            a(href='https://dotnet.microsoft.com/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/dotnetcore/dotnetcore-original.svg', alt='dotnet', width='40', height='40')
                        li.list-inline-item
                            a(href='https://nodejs.org', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original.svg', alt='nodejs', width='40', height='40')
                        li.list-inline-item
                            a(href='https://angular.io', target='_blank')
                                img(src='https://angular.io/assets/images/logos/angular/angular.svg', alt='angular', width='40', height='40')
                        li.list-inline-item
                            a(href='https://www.typescriptlang.org/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg', alt='typescript', width='40', height='40')
                        li.list-inline-item
                            a(href='https://developer.mozilla.org/en-US/docs/Web/JavaScript', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg', alt='javascript', width='40', height='40')
                        li.list-inline-item
                            a(href='https://html.spec.whatwg.org/multipage/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg', alt='html5', width='40', height='40')
                        li.list-inline-item
                            a(href='https://www.w3schools.com/css/', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg', alt='css3', width='40', height='40')
                        li.list-inline-item
                            a(href='https://www.microsoft.com/en-us/sql-server', target='_blank')
                                img(src='https://www.freeiconspng.com/uploads/sql-server-icon-png-1.png', alt='mssql', width='40', height='40')
                        li.list-inline-item
                            a(href='https://www.postgresql.org', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-plain-wordmark.svg', alt='postgresql', width='40', height='40')
                        li.list-inline-item
                            a(href='https://www.docker.com', target='_blank')
                                img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-plain.svg', alt='docker', width='40', height='40')
                        li.list-inline-item
                            a(href='https://git-scm.com/', target='_blank')
                                img(src='https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg', alt='git', width='40', height='40')
                        li.list-inline-item
                            a(href='https://postman.com', target='_blank')
                                img(src='https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg', alt='postman', width='40', height='40')
                    .subheading.mb-3(lang='en') Workflow Examples
                    .subheading.mb-3(lang='pt') Exemplos de Fluxo de Trabalho
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | SOLID Principles, Clean Code, Design Patterns
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Test-Driven Development (TDD) / Design-Driven Development (DDD)
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Swagger Documentation & JIRA Specification
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum
            
            hr.m-0.no-print

            // Experience
            section#experience.resume-section.page-break
                .resume-section-content
                    h2.mb-5(lang='en') Professional Experiences
                    h2.mb-5(lang='pt') Experiências Profissionais

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0(lang='en') Software Developer & Analyst
                            h3.mb-0(lang='pt') Analista e Desenvolvedor de Software
                            .subheading.mb-3 TOTVS S.A.
                            p(lang='en')
                                | Currently part of the Health Plan team attending a series of Brazilian legislations imposed by the ANS. The main activities are:<br/>· Test-Driven Development (TDD) in AdvPL (TOTVS Language).<br/>· ETL modeling for Big Data (using the GoodData platform).<br/>· Creation and integration with REST APIs.<br/>· Frontend development (Angular/TypeScript ).<br/>· MSSQL Server or PostgreSQL database.<br/>· Technical documentation and specifications to meet current standards.
                            p(lang='pt')
                                | Atualmente faço parte da equipe de Plano de Saúde atendendo uma série de legislações brasileiras impostas pela ANS. Sendo as principais atividades:<br/>· Desenvolvimento orientado a testes (TDD) em AdvPL (Linguagem TOTVS).<br/>· Modelagem ETL para Big Data (utilizando a plataforma GoodData).<br/>· Criação e integração com APIs REST.<br/>· Desenvolvimento Frontend (Angular/TypeScript).<br/>· Banco de dados MSSQL Server ou PostgreSQL.<br/>· Documentações técnicas e especificações para atender as normas vigentes.
                        .flex-shrink-0
                            span.text-primary(lang='en') November 2019 - Present
                            span.text-primary(lang='pt') Novembro 2019 - Atual

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0(lang='en') Technology Consultant
                            h3.mb-0(lang='pt') Consultor de Tecnologia
                            .subheading.mb-3(lang='en') Modules Group
                            .subheading.mb-3(lang='pt') Grupo Módulos
                            p(lang='en')
                                | Expertise in ERP system for small and medium companies integrated with invoice issuer.<br/>· Backend development using C# / .NET.Applying SOLID principles and DDD.<br/>· ORM Tools (Entity Framework).<br/>· Consumption of SOAP/REST Web Services from the Internal Revenue Service. <br/>· Stored Procedures in MSSQLServer DB.
                            p(lang='pt')
                                | Atuação em sistema de ERP para pequenas e médias empresas integrado a emissor de NF-e.<br/>· Desenvolvimento backend utilizando C# / .NET. Aplicando princípios SOLID e DDD.<br/>· Ferramentas ORM (Entity Framework).<br/>· Consumo de Web Services SOAP/REST da Receita Federal.<br/>· Stored Procedures em BD MSSQLServer.
                        .flex-shrink-0
                            span.text-primary(lang='en') December 2016 - November 2019
                            span.text-primary(lang='pt') Dezembro 2016 - Novembro 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0(lang='en') System Designer
                            h3.mb-0(lang='pt') Projetista de Sistemas
                            .subheading.mb-3(lang='en') ESS Safety Systems Engineering
                            .subheading.mb-3(lang='pt') ESS Engenharia de Sistemas de Segurança
                            p(lang='en')
                                | Programming robots and devices using C++ to meet safety standards (NR-12).<br/>· Integration between software via API (SOAP/REST).<br/>· Automation and process optimization projects.<br/>· Mechanical design and consultancy for Autodesk Inventor software.
                            p(lang='pt')
                                | Programação de robôs e dispositivos utilizando C++ para atender normas de segurança (NR-12).<br/>· Integração entre softwares via API (SOAP/REST).<br/>· Projetos de automação e otimização de processos.<br/>· Projetos mecânicos e consultoria do software Autodesk Inventor.
                        .flex-shrink-0
                            span.text-primary(lang='en') May 2014 - March 2016
                            span.text-primary(lang='pt') Maio 2014 - Março 2016
            
            hr.m-0.no-print

            // certifications
            section#certifications.resume-section
                .resume-section-content
                    h2.mb-5(lang='en') Certifications
                    h2.mb-5(lang='pt') Certificações
                    ul.fa-ul.mb-0
                        //- li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                        //-     .flex-grow-1
                        //-         span.fa-li
                        //-             i.fas.fa-award.text-warning
                        //-         a(href='https://cursos.alura.com.br/certificate/5c52a4af-f9a4-4bfe-8e54-8fdef1a5a091', target='_blank')
                        //-             | Deploy no AWS EC2 - Alura Cursos
                        //-     .flex-shrink-0
                        //-         span.text-primary(lang='en') August 2021
                        //-         span.text-primary(lang='pt') Agosto 2021
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://cursos.alura.com.br/degree/certificate/a80eb4b1-f196-4171-b2a4-5c50b21c2366', target='_blank')
                                    | Formação ASP.NET Core REST APIs - Alura Cursos
                            .flex-shrink-0
                                span.text-primary(lang='en') July 2021
                                span.text-primary(lang='pt') Julho 2021
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://balta.io/certificados/a8c7984c-7ce7-45ea-a9c3-128c250b2eeb', target='_blank')
                                    | APIs com ASP.NET Core e EF Core - Balta.io
                            .flex-shrink-0
                                span.text-primary(lang='en') June 2021
                                span.text-primary(lang='pt') Junho 2021
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://cursos.alura.com.br/certificate/445de56d-f7be-450b-a527-aaac15c67e40', target='_blank')
                                    | SOLID com C# - Alura Cursos
                            .flex-shrink-0
                                span.text-primary(lang='en') June 2021
                                span.text-primary(lang='pt') Junho 2021
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://cursos.alura.com.br/degree/certificate/76b06c9c-f2ff-4858-878a-bf0ade3ae083', target='_blank')
                                    | Formação C# e Orientação a Objetos - Alura Cursos
                            .flex-shrink-0
                                span.text-primary(lang='en') June 2020
                                span.text-primary(lang='pt') Junho 2020
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://www.efset.org/cert/96SRf1', target='_blank')
                                    | EF Standerdized English Test: C1 Advanced CEFR - EF Education First
                            .flex-shrink-0
                                span.text-primary(lang='en') November 2019
                                span.text-primary(lang='pt') Novembro 2019
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='http://81cd1176253f3f59d435-ac22991740ab4ff17e21daf2ed577041.r77.cf1.rackcdn.com/Certificates/ScrumFundamentalsCertified-DavidJuanFreiredaSilva-743314.pdf', target='_blank')
                                    | Scrum Fundamentals Certified - SCRUMstudy
                            .flex-shrink-0
                                span.text-primary(lang='en') November 2019
                                span.text-primary(lang='pt') Novembro 2019
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://certificates.easy-lms.com/exam/session/eb510be7-52ff-4d06-adab-b186affed59d', target='_blank')
                                    | Remote Work and Virtual Collaboration - CertiProf
                            .flex-shrink-0
                                span.text-primary(lang='en') February 2021
                                span.text-primary(lang='pt') Fevereiro 2021
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='https://drive.google.com/file/d/1Tj7qeMVb8ZRw-zIbrzOPO7Kfj0eFh73H/view?usp=sharing', target='_blank')
                                    | DevOps Essentials Professional Certificate (DEPC) - CertiProf
                            .flex-shrink-0
                                span.text-primary(lang='en') August 2020
                                span.text-primary(lang='pt') Agosto 2020
                        li.d-flex.flex-column.flex-md-row.justify-content-between.mt-3
                            .flex-grow-1
                                span.fa-li
                                    i.fas.fa-award.text-warning
                                a(href='http://bit.ly/david-juan-certificacoes', target='_blank')
                                    .mb-3(lang='en') Others Certifications
                                    .mb-3(lang='pt') Outras Certificações
                            .flex-shrink-0                        

            hr.m-0.no-print

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5(lang='en') Education
                    h2.mb-5(lang='pt') Formação

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Senai São Paulo
                            .subheading.mb-3(lang='en') B.S. Industrial Mechatronics Technology
                            .subheading.mb-3(lang='pt') Bacharelado em Tecnologia Mecatrônica Industrial
                            div(lang='en') Robotics and Control and Automation Engineering
                            div(lang='pt') Mecatrônica, Robótica e Engenharia de Controle e Automação
                        .flex-shrink-0
                            span.text-primary(lang='en') July 2011 - June 2014
                            span.text-primary(lang='pt') Julho 2011 - Junho 2014
        
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
script.
  $('[lang]').hide(); // hide all lang attributes on start.
  $('[lang="en"]').show(); // show just Korean text (you can change it)
  $('#lang-switch').click(function () { // put onchange event when user select option from select
  if($(this).is(':checked'))
    {
        $('[lang]').hide();
        $('[lang="pt"]').show();
    }
    else
    {
        $('[lang]').hide();
        $('[lang="en"]').show();
    }
  });